<widget id="com.rhythmonfire.apps.colorcow" version="0.0.1">
  <name>Color Cow</name>
  <description>
    Color Cow Description
  </description>
  <author email="jessamine.ladera@rhythmonfire.com" href="http://rhythmonfire.com">
    Rhythm On Fire
  </author>
  <content src="index.html" />
  <access origin="*" />

  <preference name="Fullscreen" value="true" />

  <preference name="Orientation" value="landscape" />

  <preference name="DisallowOverscroll" value="true"/>
  
</widget>